<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chulas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chulas.styles.css" asp-append-version="true" />
</head>
<body >
    <header id="navi">
        <div class="text-center" style="padding-left:100px">
            <span>
                <ul class="py-3" style="font-size: 18px; font-weight: 550">

                    <li class="px-2"><a class="asp-controller=" Home" asp-action="FoodMenu">Food Menu</a></li>
                    <li class ="px-2" style="color: antiquewhite">|</li>
                    <li class="px-2"><a class="asp-controller=" Home" asp-action="DrinkMenu">Drink Menu</a></li>
                    <li class="px-2" style="color: antiquewhite">|</li>
                    <li class="px-2"><a class="asp-controller=" Home" asp-action="Specials">Specials/Happy Hour</a></li>
                    <li class="px-2" style="color: antiquewhite">|</li>
                    <li class="px-2"><a class="asp-controller=" Home" asp-action="Index">Home</a></li>
                    <li class="px-2" style="color: antiquewhite">|</li>
                    <li class="px-2"><a class="asp-controller=" Home" asp-action="Contact">Contact</a></li>
                    <li class="px-2" style="color: antiquewhite">|</li>
                    <li class="px-2"><a class="asp-controller=" Home" asp-action="AboutUs">About Us</a></li>
                    <li class="px-2" style="color: antiquewhite">|</li>
                    <li class="px-2"><a class="asp-controller=" Home" asp-action="Blog">Blog</a></li>
                    <li class="px-2" style="color: antiquewhite">|</li>

                    <li >
                        <a href="#" style="color:antiquewhite">Order Now</a>
                        <ul class="dropdown">
                            <li><a href="https://order.online/store/398757?slug=chulas-restaurant-and-cantina-189373&pickup=true&hideModal=true&redirected=true" style="color:antiquewhite">| Doordash |</a></li>
                            <li><a href="https://www.grubhub.com/restaurant/chulas-cantina--grill-610-e-broadway-eugene/989086" style="color:antiquewhite">| Grubhub |</a></li>
                            <li><a href="https://www.ubereats.com/store/chulas-restaurant-and-cantina/E5G9pHelSaSTR5VpSh7vaw" style="color:antiquewhite">| Uber Eats |</a></li>
                        </ul>
                    </li>


                </ul>
            </span>
            <div style="float: right">
                <a class="asp-controller=" Home" asp-action="Index"><img src="~/images/logo.png" style="width: 150px"></a>
            </div>
        </div>

    </header>

@*     <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Chulas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Photos" asp-action="Index">Pics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Photos" asp-action="Add">add</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> 
    </header> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 @*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Chulas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
