@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="display-4" style="text-align:center">About Us</h1> @*The chulas story on Our Story og website page, retype paragraphs*@

<img src="~/images/logo.png" class="center py-3" />

<div>
    <h2 style="text-align:center" class="py-3">Bienvenidos Amigos!</h2>

    <p style="text-align:center">
        At Chula's Cantina, our culinary journey is led by our passionate and skilled chefs, who create the most delectable Mexican dishes you'll ever taste. With expert hands and a commitment to perfection, we craft each dish using the freshest, locally sourced ingredients. Our chefs bring the authentic flavors of old Mexico to your table, offering a truly unparalleled taste in the area.
        What sets our campus restaurant apart is the dedication to preserving the traditions of Mexican cuisine.
        Join us today for some happy hour specials, and let our talented chefs take you on a culinary journey through Mexico's rich and vibrant flavors.
    </p>
    <div class="container">
        <div class="row align-items-start py-4">
            <div style="text-align:left" class="col">
                <h2>From Humble Beginnings</h2>
                <p>
                    When an opportunity presents itself, you just have to seize it.
                </p>
                <p>
                    Chef Daniel Viorato was looking for a new restaurant where his unique style of cooking could be featured. The recently closed down Mission Restaurant was available, so he approached Erin Pelayo about it. He wanted to make his mark as a chef, but he knew he needed Erin’s expertise as a restaurateur to make that happen. After a lot of thought, Erin, with the encouragement of her daughter, Gabby, realized the empty Mission Restaurant had a fantastic location with huge potential to be successful. It was a truly a leap of faith for both of them as the unique opportunity was seized and Chula’s Restaurant and Cantina was born.
                </p>
                <p>
                    After doing an extensive remodel of the interior including ripping out all of the walls, installing new plumbing, new HVAC, a ton of electrical rewiring, plus giving the building a new coat of paint (we love our bright exterior), all in just seven weeks allowed Chula’s to open in October of 2015.
                </p>
                <p>
                    Offering a simple menu of flavorful comfort food and plenty of happy hour specials, we waited for our customers to come in and give us their reviews. Chula’s was a hit!
                </p>
            </div>
            <div class="col">
                <img src="~/images/capybara-square-1.jpg.optimal.jpg" style="width:600px; height: 500px; float:right" class="px-3 img-border" />
            </div>
        </div>

        <div class="row align-items-center py-4">
            <div class="col">
                <img src="~/images/ibex.webp" style="width:300px; height: 250px; float:left" class="px-3 img-border" />
                <img src="~/images/IMG-2292.jpg" style="width:300px; height: 250px; float:left" class="px-3 img-border" />
            </div>
            <div style="text-align:right" class="col">
                <h2 >Humbly Serving Eugene</h2>
                <p>
                    At Chula's Cantina, we take immense pride in offering the best traditional Mexican cantina experience and the most delectable Mexican cuisine you'll find in the heart of Eugene. Whether it's your first visit or you're one of our cherished regulars, we're dedicated to ensuring your dining experience is memorable and mouthwatering. We're not just about serving great food; we're passionate about creating a warm and inviting atmosphere where you can unwind, enjoy your meal, and make cherished memories with friends and family. Your satisfaction is our top priority. 
                </p>
                <h2></h2>
            </div>
        </div>

        <div class="row align-items-end py-4">
            <div class="col" style="text-align:left">
                <h2>Freshest Ingredients</h2>
                <p>
                    Discover an unforgettable drinking experience at Chula's Cantina, where we pride ourselves on having a fully loaded cantina complete with top-shelf liquors, creating the perfect blend of classic and contemporary cocktails.
                </p>
                <p>
                    But the real star of our cantina is undoubtedly our margaritas. Renowned throughout Eugene as the best in town, our margaritas are a symphony of flavors, blending premium tequila, fresh citrus, and a variety of unique and classic ingredients. Don't miss the chance to savor the irresistible guava margarita, which has quickly become the talk of the town.
                </p>
                <p>
                    For those seeking an excellent deal, join us during our Happy Hour for unbeatable offers on margarita pitchers and tequila drinks. At Chula's Cantina, we're not just pouring drinks but crafting exceptional moments that enhance your overall dining experience.
                </p>
            </div>
            <div class="col">
                <img src="~/images/samurai.jpg" style="width:450px; height: 500px" class="px-3 center img-border" />
            </div>
            <div class="col" style="text-align: right">

                <h2>Authentic Cuisine</h2>
                <p>
                    Indulge in the authentic flavors of Mexico at Chula's Cantina, where we draw inspiration from the bustling plazas and street food vendors of Mexico. Our menu is a tribute to traditional recipes that bring the essence of Mexican cuisine to life.
                </p>
                <p>
                    From our homemade tortillas, crafted with care, to our rich and flavorful soups, every dish at Chula's is a culinary journey through Mexico's diverse regional cuisines. We take pride in preparing Mexican specialties that capture each ingredient's essence and our culture's essence.
                </p>
                <p>
                    When you dine with us, expect an authentic Mexican dining experience that will leave your taste buds dancing.
                </p>
                <p>
                    Come savor the authentic taste of Mexico with us!
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col" style="text-align: left">
                <h2>Outdoor Patio</h2>
                <p>
                    Indulge in the delightful experience of dining and sipping your favorite margarita on our vibrant outdoor patio. It offers the perfect setting to relish your meal, soak up some sunshine, and unwind in a relaxed ambiance. Our attentive staff is dedicated to ensuring your outdoor dining experience matches the exceptional service you receive indoors.
                </p>
                <p>
                    Whether you're basking in the warmth of the sun or enjoying a starry Eugene night, our patio provides an inviting atmosphere for you to savor your Chula's favorites. Come join us outdoors for a memorable dining experience that combines the flavors of Mexico with the beauty of the University of Oregon campus.
                </p>
            </div>
            <div class="col">
                <img src="~/images/capybara-square-1.jpg.optimal.jpg" style="width:450px; height: 350px; float: right" class="px-3 img-border" />
            </div>
        </div>
</div>
@* TODO:
    ADD CORRECT IMAGES
    FIX BORDER SIZE
    SPACE DIFFERENT IF DIRECTED*@

