@{
}
<h1 class="display-4" style="text-align:center">Chula's Blog</h1>

<div class="container">
    <div class="row py-5" style="float:left; padding-left: 8rem">
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="~/images/samurai.jpg" class="card-img-top center" style="width: 18rem; height: 16rem">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Sunshine and Salsa: Enjoy Springtime Vibes at Chula’s Outdoor Patio</h5>
                    <i class="center">Thursday, March 14, 2024</i>
                    <p class="card-text">As spring blooms in Eugene, locals and visitors alike are seeking opportunities to soak up the sunshine and enjoy the vibrant atmosphere. A place that perfectly captures the essence of spring is Chula’s Restaurant and Cantina. Renowned for its inviting outdoor patio, delicious Mexican cuisine, and refreshing drinks. Explore the irresistible allure of Chula’s outdoor</p>
                    <a href="#" class="btn btn-primary center">See Full Post!</a>
                    <i>Tags: Celebrations, Drinks, Happy Hour</i>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-5" style="float:right; padding-right: 12rem">
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="~/images/samurai.jpg" class="card-img-top center" style="width: 18rem; height: 16rem">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Sunshine and Salsa: Enjoy Springtime Vibes at Chula’s Outdoor Patio</h5>
                    <i class="center">Thursday, March 14, 2024</i>
                    <p class="card-text">As spring blooms in Eugene, locals and visitors alike are seeking opportunities to soak up the sunshine and enjoy the vibrant atmosphere. A place that perfectly captures the essence of spring is Chula’s Restaurant and Cantina. Renowned for its inviting outdoor patio, delicious Mexican cuisine, and refreshing drinks. Explore the irresistible allure of Chula’s outdoor</p>
                    <a href="#" class="btn btn-primary center">See Full Post!</a>
                    <i>Tags: Celebrations, Drinks, Happy Hour</i>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-5" style="float:left; padding-left: 8rem">
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="~/images/samurai.jpg" class="card-img-top center" style="width: 18rem; height: 16rem">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Sunshine and Salsa: Enjoy Springtime Vibes at Chula’s Outdoor Patio</h5>
                    <i class="center">Thursday, March 14, 2024</i>
                    <p class="card-text">As spring blooms in Eugene, locals and visitors alike are seeking opportunities to soak up the sunshine and enjoy the vibrant atmosphere. A place that perfectly captures the essence of spring is Chula’s Restaurant and Cantina. Renowned for its inviting outdoor patio, delicious Mexican cuisine, and refreshing drinks. Explore the irresistible allure of Chula’s outdoor</p>
                    <a href="#" class="btn btn-primary center">See Full Post!</a>
                    <i>Tags: Celebrations, Drinks, Happy Hour</i>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-5" style="float:right; padding-right: 12rem">
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="~/images/samurai.jpg" class="card-img-top center" style="width: 18rem; height: 16rem">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Sunshine and Salsa: Enjoy Springtime Vibes at Chula’s Outdoor Patio</h5>
                    <i class="center">Thursday, March 14, 2024</i>
                    <p class="card-text">As spring blooms in Eugene, locals and visitors alike are seeking opportunities to soak up the sunshine and enjoy the vibrant atmosphere. A place that perfectly captures the essence of spring is Chula’s Restaurant and Cantina. Renowned for its inviting outdoor patio, delicious Mexican cuisine, and refreshing drinks. Explore the irresistible allure of Chula’s outdoor</p>
                    <a href="#" class="btn btn-primary center">See Full Post!</a>
                    <i>Tags: Celebrations, Drinks, Happy Hour</i>
                </div>
            </div>
        </div>
    </div>
</div>

@*
    TODO: ADD MENU TO THE RIGHT ONCE DATA ENTRY IS VIABLE 
    MAKE TITLES INTO LINKS
    MAKE 'PUBLISHED IN' A LINK / SEARCH THING 
    ASK GABBY ABOUT HORIZONTAL TITLE CARDS
*@
