@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="display-4" style="text-align:center">Contact Information</h1>

<div class="row">
    <div class="column left" style="text-align:center">
        <h3 class="py-2">Hours</h3>
        <ul style="padding-left: 0px; line-height: 15px" >
            <li> Monday | Closed </li>
            <br />
            <li>Tuesday | 11am - 9pm</li>
            <br />
            <li>Wednesday | 11am - 9pm</li>
            <br />
            <li>Thursday | 11am - 9pm</li>
            <br />
            <li>Friday | 11am - 9:30pm</li>
            <br />
            <li>Saturday | 11am - 9:30pm</li>
            <br />
            <li>Sunday | 11am - 9pm</li>
        </ul>
        <br />

        <h3 class="py-2">Special Hours</h3>
        <ul style="padding-left: 0px; line-height: 15px">
            <li> Lunch: Tuesday - Friday | 11am - 3pm </li>
            <br />
            <li> Happy Hour: Tuesday - Friday | 3pm - 6pm </li>
            <br />

        </ul>
    </div>

    <div class="column right" style="text-align: center">
        <h3>Phone Number</h3>
        <p>541-246-8665</p>
        
        <br />
        <br />
        <br />
        <h3>Address</h3>
        <p>610 E. Broadway, Eugene, OR 97401</p>
        @* Google maps embed code credit: https://blog.hubspot.com/website/how-to-embed-google-map-in-html  *@
        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11470.537237009225!2d-123.083201!3d44.049609!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54c11e160f3f6c3d%3A0x506fd78b2859184a!2sChula&#39;s%20Restaurant%20and%20Cantina!5e0!3m2!1sen!2sus!4v1713414860175!5m2!1sen!2sus"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="width: 400px; height: 275px; border-style:inset; border-width:4px; border-color:burlywood"></iframe>
        </div>

    </div>

@*     <div class="column right">
        <h3>Column 3</h3>
        <p>Some text..</p>
    </div> *@
</div>