@{
    ViewData["Title"] = "Drink Menu";
}

<div class="text-center">
    <h1 class="display-4">Drink Menu</h1>
    <div>
        <div class="px-5 mx-5" style="float: left;">
            <ul>
                
                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />

                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />

                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />

                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />

                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />

                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />

                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />

                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />

                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />

                <li>
                    Drink Name 1.........................................................................................................................$10.00

                </li>
                <br />
                <li><i>Ingredient, ingredient, ingredient</i></li>
                <br />


                


            </ul>
        </div>

        
            <h2>Liquors</h2>
            <br />

            <h3>Tequila</h3>
            <ul style="list-style-type: none">
                <li>Hornitos.....................................................$6.00</li>
                <li>Cazadores.....................................................$6.00</li>
                <li>El Jimador.....................................................$6.00</li>
                <li>Cazamigos.....................................................$6.00</li>
                <br />
            </ul>

            <h3>Vodka</h3>
            <ul style="list-style-type: none">
                <li>Kettle One.....................................................$6.00</li>
                <li>Titos.....................................................$6.00</li>
                <li>Grey Goose.....................................................$6.00</li>
                <li>Absolut.....................................................$6.00</li>
                <br />
            </ul>

            <h3>Gin</h3>
            <ul style="list-style-type: none">
                <li>Gin 1.....................................................$6.00</li>
                <li>Gin 2.....................................................$6.00</li>
                <li>Gin 3.....................................................$6.00</li>
                <li>Gin 4.....................................................$6.00</li>
                <br />
            </ul>

            <h3>Rum</h3>
            <ul style="list-style-type: none">
                <li>Rum 1.....................................................$6.00</li>
                <li>Rum 2.....................................................$6.00</li>
                <li>Rum 3.....................................................$6.00</li>
                <li>Rum 4.....................................................$6.00</li>
                <br />
            </ul>

             <h3>Whiskey</h3>
            <ul style="list-style-type: none">
                <li>Whiskey 1.....................................................$6.00</li>
                <li>Whiskey 2.....................................................$6.00</li>
                <li>Whiskey 3.....................................................$6.00</li>
                <li>Whiskey 4.....................................................$6.00</li>
                <br />
            </ul> 



    </div>

</div>
