@{
    ViewData["Title"] = "Food Menu";
}

<div class="container">
    <h1 class="display-4" style="text-align: center;">Food Menu</h1>
    <div class="row">
    <div class="col-md-4">
        <ul style="list-style-type: none">
            <h3>Botanas</h3>
            <li>
                Chula's Queso Dip......................................................$7.25
            </li>
            <br />
            <li><i>A creamy, cheesy, and spicy dip melted to perfection</i></li>
            <br />

            <!-- Nachos -->
            <br />
            <li>
                Chula's Nachos......................................................$12.25
            </li>
            <br />
            <li><i>Loaded tortilla chips with melted cheese, beans, onions, tomatoes, jalapeños, sour cream, guacamole, and your choice of Chicken, Ground Beef, or Shredded Beef</i></li>
            <br />

            <!-- Quesadilla -->
            <li>
                Quesadilla.................................................$12.25
            </li>
            <br />
            <li><i>Stuffed with Monterey Jack cheese, Cheddar cheese, onions, and tomatoes, topped with sour cream and guacamole. Choose from Chicken, Ground Beef, Shredded Beef, or Veggies</i></li>
            <br />

            <!-- Chicken Flautas -->
            <li>
                Chicken Flautas (4).......................................................$10.25
            </li>
            <br />
            <li><i>Chicken rolled up in a flour tortilla and deep-fried until golden brown. Served with guacamole and sour cream. With rice and beans: $13.25</i></li>
            <br />

            <!-- Pollo Fundido -->
            <li>
                Pollo Fundido (3).........................................................$11.25
            </li>
            <br />
            <li><i>Chicken and Monterey Jack cheese rolled up in a flour tortilla, fried golden brown, topped with spicy cream cheese sauce and cheese, then baked in the oven. Served with sour cream and guacamole</i></li>
            <br />

            <!-- Frachos -->
            <li>
                Frachos..................................................................$11.25
            </li>
            <br />
            <li><i>Fries topped with jalapenos and your choice of bacon or carne asada. Covered in melted cheese and garnished with pico de Gallo and guacamole. Ask your server for our Chipotle Ranch for the perfect combination</i></li>
            <br />
        </div>

    <div class="col-md-4">
        <ul style="list-style-type: none">
        <h3>Tacos</h3>
        <li>
            Tacos (3)..........................................................................$10.25
        </li>
        <br />
        <li><i>Soft corn tortillas filled with your choice of Carne Asada, Carnitas, Al Pastor, Chicken, or Shredded Beef. Topped with onions, cilantro, and salsa</i></li>
        <br />

        <h3> Enchiladas </h3>
        <li>
            Enchiladas (3).................................................................$11.25
        </li>
        <br />
        <li><i>Corn tortillas rolled and filled with your choice of Chicken, Ground Beef, or Shredded Beef. Topped with enchilada sauce, melted cheese, lettuce, tomatoes, and sour cream</i></li>
        <br />

        <h3> Burritos </h3>
        <li>
            Burritos..........................................................................$11.75
        </li>
        <br />
        <li><i>Large flour tortilla filled with rice, beans, cheese, lettuce, tomatoes, onions, and your choice of Carne Asada, Carnitas, Al Pastor, Chicken, or Shredded Beef. Topped with enchilada sauce and melted cheese</i></li>
        <br />

        <h3>Combo Plates</h3>
        <li><i>All plates come with rice and beans.
        <br />Pick one: $10.25 or pick two: $12.25
        <br />Choose from: Chicken, Ground Beef, Shredded Beef, Chile Verde (pork), Cheese, or Veggies.</i></li>

        <br /><h3>Sides</h3>
        <li>Guacamole.......................................................$4.95</li>
        <li>Avacado.......................................................$4.95</li>
        </ul>
    </div>

    <div class="col-md-4">
        <ul style="list-style-type: none">
        <h3>Fajitas</h3>
        <li>
            Fajitas...........................................................................$14.75
        </li>
        <br />
        <li><i>Your choice of Chicken, Carne Asada, or Shrimp sautéed with bell peppers and onions. Served with rice, beans, guacamole, sour cream, and tortillas</i></li>
        <br />
        <h3>Salads</h3>
        <li>Taco Salad/Tostada Salad................................................$12.95
        <i><br />
        <br>Lettuce, pico de gallo, cheese, and avocado topped with crispy corn tortilla chips, pepitas (pumpkin seeds) and your choice of chicken, ground beef, shredded beef, chile verde (pork), carne asada, carnitas or al pastor Tostada Salad Comes on a crispy flat tortilla and your choice of refried or black beans.
        Dressings: Chipotle Ranch, Ranch and Bleu Cheese.
        Add $1.00 for sour cream and guacamole</i></li>
        <br />
        <h3>Desserts</h3>
        <li>Sopapillas..............................................$4.50
        <i><br><br>A fresh flour tortilla lightly fried till crisp. Topped with cinnamon sugar, honey, whipped cream and drizzled with chocolate syrup</i></li>
        <li><br>Fried Ice Cream.......................................$6.25
        <i><br><br>Vanilla ice cream rolled in a crunchy topping and fried till crispy. Drizzled with chocolate syrup and topped with whipped cream.</i></li>
        <li><br>Flan..............................................................$5.75
        <i><br><br>Rich and creamy, delicate vanilla custard with carmelized sugar. Topped with whipped cream and cinnamon and sugar.</i></li>
        <li><br>Churros.......................................................$5.75
        <i><br><br>Warm and crispy churros stuffed with strawberry or apple. Topped with cinnamon and sugar and whipped cream.</i></li>
    </ul>
    </div>

    @*<img src="https://chulas-cantina.com/wp-content/uploads/2020/10/chulas-entrees-2.jpg" />*@
</div></div><br />