@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome to Chulas Cantina and Restaurant!</h1>
    
    <img src="~/images/logo.png" class="pb-4">
    <p class="align-content-center">
        At Chula's Cantina, we take immense pride in offering the best traditional Mexican cantina experience and the most delectable Mexican cuisine you'll find in the heart of Eugene. Whether it's your first visit or you're one of our cherished regulars, we're dedicated to ensuring your dining experience is memorable and mouthwatering. We're not just about serving great food; we're passionate about creating a warm and inviting atmosphere where you can unwind, enjoy your meal, and make cherished memories with friends and family. Your satisfaction is our top priority. 
    </p>

</div>
