@{
    ViewData["Title"] = "Specials & Happy Hour";
}

<div class="container">
    <div class="row">
        <h1 class="display-4" style="text-align: center">Specials (AND MORE!)</h1>
        <div class="col-md-5">
            <br />
            <ul style="list-style-type: none">
            <!-- Taquitos -->
            <li>
               <b>Taquitos</b> (4).................................................................$9.75
            </li>
            <br />
            <li><i>Crispy tortillas rolled and topped with carrots, lettuce, tomatoes, cheese, and guacamole. Choose from Potato, Chicken, or Shredded Beef</i></li>
            <br />

            <!-- Sopes -->
            <li>
               <b>Sopes</b>.............................................................................$7.75
            </li>
            <br />
            <li><i>Shallow shell of masa grilled and stuffed with beans, topped with lettuce, sour cream, cotija cheese, and your choice of Chicken, Ground Beef, or Shredded Beef</i></li>
            <br />

            <!-- Torta -->
            <li>
               <b>Torta (Mexican Sandwich)</b>...............................................$11.75
            </li>
            <br />
            <li><i>Mayonnaise, lettuce, tomatoes, avocado, onions, cheese, and choice of meat: Carne Asada, Carnitas, Al Pastor, or Chicken. With fries: $13.50</i></li>
            <br />

            <!-- Huarache -->
            <li>
               <b>Huarache</b>........................................................................$10.25
            </li>
            <br />
            <li><i>An oblong masa topped with melted cheese and your choice of carnitas, carne asada, al pastor, shredded beef, chicken, or chile verde. Garnished with lettuce, sour cream, cotija cheese, avocado, and tomatoes</i></li>
            <br />
            <li><b>Plaza Quesadilla</b>....................................................$11.25
            <br />
            <br />
            <i>Two freshly made oversized corn tortillas. Filled with melted cheese and carne asada. Topped with lettuce, cotija cheese, avocado, grilled onions and sour cream.</i></li>
            </ul>
            <br />
        </div>
        <div class="col-md-2">
            </div>
        <div style="text-align: center" class="col-md-4">
            <br>
            <h2>Happy Hour</h2>
            <p>Tuesday to Sunday, 3pm - 6pm!</p>
            <img src="https://chulas-cantina.com/wp-content/uploads/2023/02/chulas-entrees-1.webp" height="250px"/><br><br>
            <h3>Margaritas</h3>
            <p>Prices</p>
            <p>Items</p>
            <h3>Tacos</h3>
            <p>Prices</p>
            <p>Items</p>
            <h3>Pitcher of the Day</h3>
            <p>Flavors</p>
        </div>

    </div>

</div>
